<!DOCTYPE>
<html lang="en-US">

<head>

	<title>Punchit.io | Community Based Comparison Network</title>

    <link rel='shortcut icon' href='./images/favicon.ico' type='image/x-icon'/ >

		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="img/favicon.ico" sizes="16x16" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Punchit is a community based comparison network.">

    <!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

	<!-- Plugin CSS -->
    	<!-- <link rel="stylesheet" href="css/animate.min.css" type="text/css"> -->


    <!-- Roboto font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="css/common_style.css" type="text/css">


</head>

</head>

<body ng-app="punchit">

<!-- navbar -->
<div class="navbar-fixed">
    <nav class="navbar_before_scroll">
        <div class="nav-wrapper row">
            <div class="col l5 m4 s1"> <br/> </div>
            <div class="col l4 m4 s10">
                <a href="" class="brand-logo"> <img src="./images/logo_text.png" alt="Punchit logo" class="responsive-img" /> </a>
            </di
            <div class="col l3 m4 s1"> <br/> </div>
        </div>
    </nav>
</div>


<div id="section_1" class="section" style="padding-top: 13%;">

    <!--<span style="position: relative; margin-top: 50%; border: 1px solid #000;">-->
        <h3>Even the cosmos isn't enough to compare !</h3>

        <h5>Comparison is for <span id="type_anim"></span> </h5>
    <!--</span>-->

</div>

<div id="section_2" class="section_common section_pink_bg section">

    <div>
        <p class="section_title">Comparison gives you a way to look at the world from a different perspective !</p>

        <hr style="background-color: #fff; margin-top: -20px;"/>

        <blockquote>
            <b>Comparison</b> is everywhere from the color of your bike to dress of your wife, from the topping of your pizza to the contents of your subway, from the cup of tea to bottle of wine, from saas-bahu to SuperHeros...
            Now you can utilize all the stuff by using comparison because it gives you the power to choose things from different perspective.
        </blockquote>

    </div>
</div>


<div id="section_3"  class="section_common section" ng-controller="postsController">
    <div>

        <p class="section_title">Glimpse of Punchit.io</p>

        <hr style="background-color: #ff4545;"/>

        <div class="row">
            <!-- Tabs -->
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#test1">Category 1</a></li>
                    <li class="tab col s3"><a href="#test2">Category 2</a></li>
                    <li class="tab col s3"><a href="#test3">Category 3</a></li>
                    <li class="tab col s3"><a href="#test4">Category 4</a></li>
                </ul>
            </div>

            <!-- Tab contents -->

                <div id="test1" class="tab_contents row">

                    <div class="col l4 m6 s12">

                      <div class="section card col l12 s12 main_card" ng-repeat="post in communityOne">
                          <div class="card-content content">
                              <div class="row">
                                  <div class="col s12">
                                      <center class="row">
                                          <img class="circle responsive-img col s6" src="images/punchit.png" alt="Profile picture here" style="height: 50px;width:74px"/>

                                          <span class="col s6" style="margin-top:15px;">
                                              <a href="#" style="color:red;float:left">Punchit.io</a>
                                          </span>
                                      </center>
                                  </div>

                              <!-- Post Question -->
                                  <div style="margin-top:1%;" class="col s12">
                                      <p style="color:#989489;font-size:18px;text-align:left;margin-left:1%;">{{post.title}}</p>
                                  </div>
                              </div>
                          </div>

                          <!-- Post images -->
                          <div class="card-image" style="margin-left: 1%; margin-top:-2%;">
                              <div class="row">
                                  <div class="col  waves-effect waves-light waves-pink" style="margin-left:3%; border:1px solid #989489;float:left;margin-right:2%;width:45%;padding:10px;height:200px;background-image:url('images/FinalBackground2.png');">
                                  <a ng-click="taptap(post.id,'one',$index,1)"><img class="responsive-img" ng-src="{{post.image1}}" alt="image 1 here" style="width: 100%;height: 100%;object-fit: contain; max-height: 100%;"></a>
                                  </div>


                                  <div class="col waves-effect waves-light waves-pink" style="margin-left:1%;border:1px solid #989489;width:45%;padding:10px;height:200px;background-image:url('images/FinalBackground2.png');">
                                  <a ng-click="taptap(post.id,'two',$index,1)"><img class="responsive-img" src="{{post.image2}}" alt="image 2 here" style="width: 100%;height: 100%;object-fit: contain; max-height:100%;"></a>
                                  </div>

                              </div>
                          </div>

                          <div class="card-content" style="margin-top:-5%;">
                              <div class="row">
                                  <div class="col s6">
                                      <p style="text-align:center;font-size:100%;color:#ff4545">{{post.image1title}}</p>
                                      <div style="background-color:#ff4545;color: #ff4545;height:1px;"><hr class="post_hr" noshade="noshade" style="border:0px"/></div>
                                      <div style="border:1px;"><p style="text-align:center;font-size:100%;color:red;padding-top:1%">{{post.Punchers1.length}}</p></div>
                                  </div>
                                  <div class="col s6">
                                      <p style="text-align:center;font-size:100%;color:#ff4545">{{post.image2title}}</p>
                                      <div style="background-color:#ff4545;color:#ff4545;height:1px;"><hr class="post_hr" noshade="noshade" style="border:0px"/></div>
                                      <center style="font-size:100%;color:#ff4545;padding-top:1%"><div style="width:15%;">{{post.Punchers2.length}}</div></center>
                                  </div>
                              </div>
                          </div>

                          <!-- share comment icons -->
                          <div class="row">

                              <!-- <div class="col s2 l1">
                                  <a><img src="images/share.png" style="margin-left:7px;height:inherit;width:70px;" id="share"></a>
                              </div> -->

                              <!-- Comment button -->
                                  <div class="col s2 l1">
                                      <a  class="modal-trigger waves-effect waves-light" ng-click="showComments(post.id)">
                                          <img src="images/icons/comment.png" style="height:inherit;width:60px;margin-left:10px;" id="comment">
                                      </a>
                                  </div>


                          </div>
                      </div>

                    </div>
									</div>

                    <div id="test2" class="tab_contents" class="col l4 m6 s12">

                        <!-- COPY the same content from TAB 1 above -->
												<div class="section card col l12 s12 main_card" ng-repeat="post in communityTwo">
	                          <div class="card-content content">
	                              <div class="row">
	                                  <div class="col s12">
	                                      <center class="row">
	                                          <img class="circle responsive-img col s6" src="images/punchit.png" alt="Profile picture here" style="height: 50px;width:74px"/>

	                                          <span class="col s6" style="margin-top:15px;">
	                                              <a href="#" style="color:red;float:left">Punchit.io</a>
	                                          </span>
	                                      </center>
	                                  </div>

	                              <!-- Post Question -->
	                                  <div style="margin-top:1%;" class="col s12">
	                                      <p style="color:#989489;font-size:18px;text-align:left;margin-left:1%;">{{post.title}}</p>
	                                  </div>
	                              </div>
	                          </div>

	                          <!-- Post images -->
														<div class="card-image" style="margin-left: 1%; margin-top:-2%;">
	                              <div class="row">
	                                  <div class="col  waves-effect waves-light waves-pink" style="margin-left:3%; border:1px solid #989489;float:left;margin-right:2%;width:45%;padding:10px;height:200px;background-image:url('images/FinalBackground2.png');">
	                                  <a ng-click="taptap(post.id,'one',$index,2)"><img class="responsive-img" ng-src="{{post.image1}}" alt="image 1 here" style="width: 100%;height: 100%;object-fit: contain; max-height: 100%;"></a>
	                                  </div>


	                                  <div class="col waves-effect waves-light waves-pink" style="margin-left:1%;border:1px solid #989489;width:45%;padding:10px;height:200px;background-image:url('images/FinalBackground2.png');">
	                                  <a ng-click="taptap(post.id,'two',$index,2)"><img class="responsive-img" src="{{post.image2}}" alt="image 2 here" style="width: 100%;height: 100%;object-fit: contain; max-height:100%;"></a>
	                                  </div>

	                              </div>
	                          </div>

	                          <div class="card-content" style="margin-top:-5%;">
	                              <div class="row">
	                                  <div class="col s6">
	                                      <p style="text-align:center;font-size:100%;color:#ff4545">{{post.image1title}}</p>
	                                      <div style="background-color:#ff4545;color: #ff4545;height:1px;"><hr class="post_hr" noshade="noshade" style="border:0px"/></div>
	                                      <div style="border:1px;"><p style="text-align:center;font-size:100%;color:red;padding-top:1%">{{post.Punchers1.length}}</p></div>
	                                  </div>
	                                  <div class="col s6">
	                                      <p style="text-align:center;font-size:100%;color:#ff4545">{{post.image2title}}</p>
	                                      <div style="background-color:#ff4545;color:#ff4545;height:1px;"><hr class="post_hr" noshade="noshade" style="border:0px"/></div>
	                                      <center style="font-size:100%;color:#ff4545;padding-top:1%"><div style="width:15%;">{{post.Punchers2.length}}</div></center>
	                                  </div>
	                              </div>
	                          </div>

	                          <!-- share comment icons -->
	                          <div class="row">

	                              <!-- <div class="col s2 l1">
	                                  <a><img src="images/share.png" style="margin-left:7px;height:inherit;width:70px;" id="share"></a>
	                              </div> -->

	                              <!-- Comment button -->
	                                  <div class="col s2 l1">
	                                      <a class="modal-trigger waves-effect waves-light" ng-click="showComments(post.id)">
	                                          <img src="images/icons/comment.png" style="height:inherit;width:60px;margin-left:10px;" id="comment">
	                                      </a>
	                                  </div>


	                          </div>
	                      </div>

                    </div>
                    <div id="test3" class="tab_contents" class="col s12">

                        <!-- COPY the same content from TAB 1 above -->
												<div class="section card col l12 s12 main_card" ng-repeat="post in communityThree">
	                          <div class="card-content content">
	                              <div class="row">
	                                  <div class="col s12">
	                                      <center class="row">
	                                          <img class="circle responsive-img col s6" src="images/punchit.png" alt="Profile picture here" style="height: 50px;width:74px"/>

	                                          <span class="col s6" style="margin-top:15px;">
	                                              <a href="#" style="color:red;float:left">Punchit.io</a>
	                                          </span>
	                                      </center>
	                                  </div>

	                              <!-- Post Question -->
	                                  <div style="margin-top:1%;" class="col s12">
	                                      <p style="color:#989489;font-size:18px;text-align:left;margin-left:1%;">{{post.title}}</p>
	                                  </div>
	                              </div>
	                          </div>

	                          <!-- Post images -->
														<div class="card-image" style="margin-left: 1%; margin-top:-2%;">
	                              <div class="row">
	                                  <div class="col  waves-effect waves-light waves-pink" style="margin-left:3%; border:1px solid #989489;float:left;margin-right:2%;width:45%;padding:10px;height:200px;background-image:url('images/FinalBackground2.png');">
	                                  <a ng-click="taptap(post.id,'one',$index,3)"><img class="responsive-img" ng-src="{{post.image1}}" alt="image 1 here" style="width: 100%;height: 100%;object-fit: contain; max-height: 100%;"></a>
	                                  </div>


	                                  <div class="col waves-effect waves-light waves-pink" style="margin-left:1%;border:1px solid #989489;width:45%;padding:10px;height:200px;background-image:url('images/FinalBackground2.png');">
	                                  <a ng-click="taptap(post.id,'two',$index,3)"><img class="responsive-img" src="{{post.image2}}" alt="image 2 here" style="width: 100%;height: 100%;object-fit: contain; max-height:100%;"></a>
	                                  </div>

	                              </div>
	                          </div>

	                          <div class="card-content" style="margin-top:-5%;">
	                              <div class="row">
	                                  <div class="col s6">
	                                      <p style="text-align:center;font-size:100%;color:#ff4545">{{post.image1title}}</p>
	                                      <div style="background-color:#ff4545;color: #ff4545;height:1px;"><hr class="post_hr" noshade="noshade" style="border:0px"/></div>
	                                      <div style="border:1px;"><p style="text-align:center;font-size:100%;color:red;padding-top:1%">{{post.Punchers1.length}}</p></div>
	                                  </div>
	                                  <div class="col s6">
	                                      <p style="text-align:center;font-size:100%;color:#ff4545">{{post.image2title}}</p>
	                                      <div style="background-color:#ff4545;color:#ff4545;height:1px;"><hr class="post_hr" noshade="noshade" style="border:0px"/></div>
	                                      <center style="font-size:100%;color:#ff4545;padding-top:1%"><div style="width:15%;">{{post.Punchers2.length}}</div></center>
	                                  </div>
	                              </div>
	                          </div>

	                          <!-- share comment icons -->
	                          <div class="row">

	                              <!-- <div class="col s2 l1">
	                                  <a><img src="images/share.png" style="margin-left:7px;height:inherit;width:70px;" id="share"></a>
	                              </div> -->

	                              <!-- Comment button -->
	                                  <div class="col s2 l1">
	                                      <a class="modal-trigger waves-effect waves-light" ng-click="showComments(post.id)">
	                                          <img src="images/icons/comment.png" style="height:inherit;width:60px;margin-left:10px;" id="comment">
	                                      </a>
	                                  </div>


	                          </div>
	                      </div>

                    </div>
                    <div id="test4" class="tab_contents" class="col s12">

                        <!-- COPY the same content from TAB 1 above -->
												<div class="section card col l12 s12 main_card" ng-repeat="post in communityFour">
	                          <div class="card-content content">
	                              <div class="row">
	                                  <div class="col s12">
	                                      <center class="row">
	                                          <img class="circle responsive-img col s6" src="images/punchit.png" alt="Profile picture here" style="height: 50px;width:74px"/>

	                                          <span class="col s6" style="margin-top:15px;">
	                                              <a href="#" style="color:red;float:left">Punchit.io</a>
	                                          </span>
	                                      </center>
	                                  </div>

	                              <!-- Post Question -->
	                                  <div style="margin-top:1%;" class="col s12">
	                                      <p style="color:#989489;font-size:18px;text-align:left;margin-left:1%;">{{post.title}}</p>
	                                  </div>
	                              </div>
	                          </div>

	                          <!-- Post images -->
														<div class="card-image" style="margin-left: 1%; margin-top:-2%;">
	                              <div class="row">
	                                  <div class="col  waves-effect waves-light waves-pink" style="margin-left:3%; border:1px solid #989489;float:left;margin-right:2%;width:45%;padding:10px;height:200px;background-image:url('images/FinalBackground2.png');">
	                                  <a ng-click="taptap(post.id,'one',$index,4)"><img class="responsive-img" ng-src="{{post.image1}}" alt="image 1 here" style="width: 100%;height: 100%;object-fit: contain; max-height: 100%;"></a>
	                                  </div>


	                                  <div class="col waves-effect waves-light waves-pink" style="margin-left:1%;border:1px solid #989489;width:45%;padding:10px;height:200px;background-image:url('images/FinalBackground2.png');">
	                                  <a ng-click="taptap(post.id,'two',$index,4)"><img class="responsive-img" src="{{post.image2}}" alt="image 2 here" style="width: 100%;height: 100%;object-fit: contain; max-height:100%;"></a>
	                                  </div>

	                              </div>
	                          </div>

	                          <div class="card-content" style="margin-top:-5%;">
	                              <div class="row">
	                                  <div class="col s6">
	                                      <p style="text-align:center;font-size:100%;color:#ff4545">{{post.image1title}}</p>
	                                      <div style="background-color:#ff4545;color: #ff4545;height:1px;"><hr class="post_hr" noshade="noshade" style="border:0px"/></div>
	                                      <div style="border:1px;"><p style="text-align:center;font-size:100%;color:red;padding-top:1%">{{post.Punchers1.length}}</p></div>
	                                  </div>
	                                  <div class="col s6">
	                                      <p style="text-align:center;font-size:100%;color:#ff4545">{{post.image2title}}</p>
	                                      <div style="background-color:#ff4545;color:#ff4545;height:1px;"><hr class="post_hr" noshade="noshade" style="border:0px"/></div>
	                                      <center style="font-size:100%;color:#ff4545;padding-top:1%"><div style="width:15%;">{{post.Punchers2.length}}</div></center>
	                                  </div>
	                              </div>
	                          </div>

	                          <!-- share comment icons -->
	                          <div class="row">

	                              <!-- <div class="col s2 l1">
	                                  <a><img src="images/share.png" style="margin-left:7px;height:inherit;width:70px;" id="share"></a>
	                              </div> -->

	                              <!-- Comment button -->
	                                  <div class="col s2 l1">
	                                      <a class="modal-trigger waves-effect waves-light" ng-click="showComments(post.id)">
	                                          <img src="images/icons/comment.png" style="height:inherit;width:60px;margin-left:10px;" id="comment">
	                                      </a>
	                                  </div>


	                          </div>
	                      </div>

                    </div>

                </div>

        </div>
				<!-- Comment Modal -->

						<div id="comment_modal" class="modal modal-fixed-footer">
								<div class="modal-content">
										<h5>Comments</h5>

										<div class="row">
												<ul class="collection">
														<li class="collection-item avatar" ng-repeat="c in comments">
																<img ng-src="{{c.ProfilePicture}}" alt="" class="circle">
																<span class="title">{{c.username}}</span>
																<p>
																		{{c.comment}}
																</p>
														</li>
												</ul>
										</div>

								</div>
								<div class="modal-footer row">
												<form class="col s10">
														<div class="row">
																<div class="input-field col s12">
																		<textarea id="textarea1" class="materialize-textarea" ng-model="commentBox"></textarea>
																		<label for="textarea1">Comment here....</label>
																</div>
														</div>
												</form>

												<a ng-click="do_comment()" class="waves-effect waves-light btn col s2"> <i class="material-icons">mode_edit</i> </a>


								</div>
						</div>

				<!-- Comment Modal Ends -->
    </div>



</div>


<div id="section_4"  class="section_common section_pink_bg section">
    <div>

        <p class="section_title">Upcoming app</p>

        <hr style="background-color: #ff4545;"/>

        <div class="row">

            <div class="col l1 m1"> <br/> </div>

            <div class="col l4 m4 s12">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpunchit.io%2F&tabs=timeline&width=360&height=450&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1499844186973620" width="100%" height="100%" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>

            <div class="col l7 m7 s12">

                <div class="slider" style="width: 100%; height: 100%;">
                    <ul class="slides">
                        <li>
                            <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url('./images/mocup/jay.png') no-repeat center; background-size: contain;"></div>
                        </li>
                        <!-- <li>
                            <img src="./images/mocup/2.png">
                        </li>
                        <li>
                            <img src="./images/mocup/3.png">
                        </li>
                        <li>
                            <img src="./images/mocup/4.png">
                        </li>
                        <li>
                            <img src="./images/mocup/5.png">
                        </li>
                        <li>
                            <img src="./images/mocup/6.png">
                        </li> -->
                    </ul>
                </div>

            </div>

        </div>

    </div>
</div>



<!-- scripts section -->

<!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
		<!-- Angular Js library -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<!-- Angular Js cookie wrapper -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>

		<!-- angularJs wrapper for facebook login -->
				<script src="js/angular-fblogin.js"></script>
    <!-- Custom js -->
        <script type="text/javascript" src="js/custom_js.js"></script>

    <!-- typed.js -->
        <script type="text/javascript" src="js/typed.js"></script>
				<!-- facebook sdk -->
				<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <!-- Smooth Scroll js -->
        <script type="text/javascript" src="./js/jquery.smooth-scroll.js"></script>

    <!-- including app.js angular code will be present in it.  -->
    <script type="text/javascript" src="js/factory.js"></script>
    <script type="text/javascript" src="js/app.js"/>

    <script>
        $(document).ready(function(){
            $('.slider').slider();
						$window.fbAsyncInit = function() {
								FB.init({
										appId: '811805505603331',
										status: true,
										cookie: false,
										xfbml: false,
										version: 'v2.4'
								});
							};
        });
    </script>

</body>


</html>
